<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span style="cursor: pointer;" [routerLink]="['/home']">iFinder</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">{{ getName() }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon> Cerrar Sesión</button>
      </mat-menu>
      <img class="example-icon profile-photo" width="48px" [src]="getPhoto()" />
  </mat-toolbar-row>
</mat-toolbar>
