<app-toolbar></app-toolbar>
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section class="ftco-section">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10">
                    <div class="wrapper">
                        <div class="row no-gutters">
                            <div class="col-md-7 d-flex align-items-stretch">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h3 class="mb-4">Dar de alta un nuevo objeto</h3>
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4">
                                        Hemos guardado el objeto!
                                    </div>
                                    <form [formGroup]="objectForm">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Nombre del Objeto</mat-label>
                                                    <input matInput placeholder="Nombre" name="name" formControlName="name" required>
                                                </mat-form-field>
                                                <div *ngIf="objectForm.controls['name'].dirty || objectForm.controls['name'].touched" class="alert alert-danger">
                                                    <div *ngIf="objectForm.get('name')?.hasError('required')">
                                                        Debe introducir un nombre para su objeto.
                                                    </div>
                                                    <div *ngIf="objectForm.get('name')?.hasError('minlength')">
                                                        Debe introducir un nombre de objeto más largo.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Ubicación</mat-label>
                                                    <input matInput placeholder="Ubicación" name="location" formControlName="location" required>
                                                </mat-form-field>
                                                <div *ngIf="objectForm.controls['location'].dirty || objectForm.controls['location'].touched" class="alert alert-danger">
                                                    <div *ngIf="objectForm.get('location')?.hasError('required')">
                                                        Debe introducir introducir la ubicación donde perdió el objeto.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                              <mat-form-field appearance="fill">
                                                  <mat-label>Radio</mat-label>
                                                  <input type="number" step="50" min="0" max="10000" matInput placeholder="Radio de Búsqueda" name="radio" formControlName="radio" required>
                                              </mat-form-field>
                                            </div>
                                            <div class="col-md-1">
                                                <button style="height: 45px; border-radius: 10%; margin-top: 15%; margin-left: 5px;" mat-raised-button (click)="searchAddress()" color="accent">Localizar</button>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Categoría</mat-label>
                                                    <mat-select formControlName="category">
                                                        <mat-option *ngFor="let category of categories | async" [value]="category.name">
                                                            {{category.name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Imagen del objeto</mat-label>
                                                    <input matInput placeholder="Imagen" name="photo" formControlName="photo">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-11">
                                                <mat-form-field class="example-full-width" appearance="fill">
                                                    <mat-label>Descripción del objeto</mat-label>
                                                    <textarea matInput formControlName="description" placeholder="Indique claramente qué características tiene el objeto"></textarea>
                                                </mat-form-field>
                                                <div *ngIf="objectForm.controls['description'].dirty || objectForm.controls['description'].touched" class="alert alert-danger" required>
                                                    <div *ngIf="objectForm.get('description')?.hasError('required')">
                                                        Debe introducir una descripción del objeto perdido.
                                                    </div>
                                                    <div *ngIf="objectForm.get('description')?.hasError('minlength')">
                                                        Debe introducir una descripción más larga.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label id="example-radio-group-label">¿Has perdido o has encontrado un objeto?</label>
                                                <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="estado" class="example-radio-group">
                                                    <mat-radio-button class="example-radio-button" [value]="true">
                                                        He perdido un objeto
                                                    </mat-radio-button>
                                                    <mat-radio-button class="example-radio-button" [value]="false">
                                                        He encontrado un objeto
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" (click)="register()" value="Registrar Objeto" class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex align-items-stretch">
                                <div *ngIf="latlng" class="info-wrap bg-primary w-100 p-lg-5 p-4">
                                    <h3 style="margin-left: 30%; margin-right: 20%;">Marcar Ubicación</h3>
                                    <div class="map" *ngIf="apiLoaded | async">
                                        <google-map [center]="latlng">
                                            <map-marker (mapDragend)="updateLocationMarker($event)" [position]="latlng" [options]="markerOptions"></map-marker>
                                        </google-map>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>
